POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5433
DB_URL=jdbc:postgresql://localhost:5433/pte

API_PORT=8080

JWT_SECRET=
JWT_EXPIRATION_SECONDS=3600

ADMIN_SEED_EMAIL=
ADMIN_SEED_PASSWORD=

HOST_SEED_CODE=
HOST_SEED_NAME=
HOST_SEED_EMAIL=
HOST_SEED_PASSWORD=
HOST_SEED_ORGANIZATION_NAME=
HOST_SEED_ORGANIZATION_TYPE=
HOST_SEED_ORGANIZATION_ADDRESS=
HOST_SEED_REPRESENTATIVE_NAME=
HOST_SEED_REPRESENTATIVE_PHONE=
HOST_SEED_CONTRACT_CODE=
HOST_SEED_PACKAGE_NAME=
HOST_SEED_STUDENT_LIMIT=

STUDENT_SEED_USERNAME=
STUDENT_SEED_PASSWORD=
STUDENT_SEED_FULL_NAME=
STUDENT_SEED_CODE=
STUDENT_SEED_CLASS_NAME=
STUDENT_SEED_EMAIL=
STUDENT_SEED_PHONE=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
